In [31]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

In [32]:
database_name = 'prescribers'
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}" 
engine = create_engine(connection_string)

1. How many npi numbers appear in the prescriber table but not in the prescription table?

In [33]:
query_1 = '''
WITH prescriber_npi AS (SELECT DISTINCT npi AS prescriber_npi, npi
FROM prescriber),
prescription_npi AS (SELECT DISTINCT npi AS prescription_npi, npi
FROM prescription)
SELECT COUNT(prescriber_npi) - COUNT(prescription_npi) AS diff
FROM prescriber_npi
FULL JOIN prescription_npi
USING(npi)

'''

result_1 = engine.execute(query_1)

answer_1 = pd.read_sql(query_1, con = engine)
answer_1

# 4458

   diff
0  4458

2.
    a. Find the top five drugs (generic_name) prescribed by prescribers with the specialty of Family Practice.

    b. Find the top five drugs (generic_name) prescribed by prescribers with the specialty of Cardiology.

    c. Which drugs appear in the top five prescribed for both Family Practice prescribers and Cardiologists? Combine what you did for parts a and b into a single query to answer this question.

In [34]:
#a
query_2a = '''
SELECT generic_name
FROM prescription
LEFT JOIN prescriber
USING(npi)
LEFT JOIN drug
USING(drug_name)
WHERE specialty_description = 'Family Practice'
GROUP BY generic_name
ORDER BY SUM(total_claim_count) DESC
LIMIT 5
'''

result_2a = engine.execute(query_2a)

answer_2a = pd.read_sql(query_2a, con = engine)
answer_2a

'''
0	LEVOTHYROXINE SODIUM
1	LISINOPRIL
2	ATORVASTATIN CALCIUM
3	AMLODIPINE BESYLATE
4	OMEPRAZOLE
'''

#b
query_2b = '''
SELECT generic_name
FROM prescription
LEFT JOIN prescriber
USING(npi)
LEFT JOIN drug
USING(drug_name)
WHERE specialty_description = 'Cardiology'
GROUP BY generic_name
ORDER BY SUM(total_claim_count) DESC
LIMIT 5
'''

result_2b = engine.execute(query_2b)

answer_2b = pd.read_sql(query_2b, con = engine)
answer_2b

'''
0	ATORVASTATIN CALCIUM
1	CARVEDILOL
2	METOPROLOL TARTRATE
3	CLOPIDOGREL BISULFATE
4	AMLODIPINE BESYLATE
'''

#c
query_2c = '''
WITH
    family_practice AS (
        SELECT 
            generic_name
        FROM prescription
        LEFT JOIN prescriber
        USING(npi)
        LEFT JOIN drug
        USING(drug_name)
        WHERE specialty_description = 'Family Practice'
        GROUP BY generic_name
        ORDER BY SUM(total_claim_count) DESC
        LIMIT 5
    ),
    cardiology AS (
        SELECT 
            generic_name
        FROM prescription
        LEFT JOIN prescriber
        USING(npi)
        LEFT JOIN drug
        USING(drug_name)
        WHERE specialty_description = 'Cardiology'
        GROUP BY generic_name
        ORDER BY SUM(total_claim_count) DESC
        LIMIT 5
    )
SELECT generic_name
FROM family_practice
INNER JOIN cardiology
USING(generic_name)
'''

result_2c = engine.execute(query_2c)

answer_2c = pd.read_sql(query_2c, con = engine)
answer_2c

'''
0	ATORVASTATIN CALCIUM
1	AMLODIPINE BESYLATE
'''

'\n0\tATORVASTATIN CALCIUM\n1\tAMLODIPINE BESYLATE\n'

3. Your goal in this question is to generate a list of the top prescribers in each of the major metropolitan areas of Tennessee.
    a. First, write a query that finds the top 5 prescribers in Nashville in terms of the total number of claims (total_claim_count) across all drugs. Report the npi, the total number of claims, and include a column showing the city.
    b. Now, report the same for Memphis.
    c. Combine your results from a and b, along with the results for Knoxville and Chattanooga.

In [ ]:
query_3 = '''

'''

result_3 = engine.execute(query_3)

answer_3 = pd.read_sql(query_3, con = engine)
answer_3

4. Find all counties which had an above-average (for the state) number of overdose deaths in 2017. Report the county name and number of overdose deaths.

5.
    a. Write a query that finds the total population of Tennessee.
    b. Build off of the query that you wrote in part a to write a query that returns for each county that county's name, its population, and the percentage of the total population of Tennessee that is contained in that county.